* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFEEDD;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

header {
    padding: 20px;
}

header > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30vw;    
}

/* Nav */

nav {
    text-align: center;        
}

nav ul {
    list-style: none;
    text-align: center;
    background-color: #E25540;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    padding: 5px;   
    border-radius: 10px;
        
}

nav li {
    display: inline-block;
    
}

li a {
    text-decoration: none;
    color: white;
    font-weight: 800;
}
/* Main */

main {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

/* Section */

section {
    display: flex;
}

.promotion {
    background-image: url(/meta-portfolio/photos/promo-med.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;      
    display: flex;
    flex-direction: column;
    justify-content: c;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    min-height: 400px;
}

.promotion > h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.promotion:hover {
    transform: scale(1.01);
    transition: 0.15s linear;    
} 

.promotion:hover > h1 {
    transform: scale(1.01);
    transition: 0.15s linear;
    color: #E25540;
} 

.promotion > p {
    color: white;
}

article {
    flex: 1;
}

/* Card */

.card-container {
    display: grid;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 24px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 24px;
}

.card {
    background-color: #E25540;
    color: white;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 30px;
}
.card:hover {
    transform: scale(1.05);
    transition: 0.15s linear;
}

article.card > img {
    width: inherit;
    height: auto;
}

article.card > a {
    text-decoration: none;
    width: fit-content;
    color: white;
}

article.card > a:hover {
color: blue;
transition: 0.1s linear;
}

article.card > a {

}
    /* Footer */
    
footer {
    display: flex;
    margin-top: 20px;
}

footer div {
    flex: 1;
}

footer div > img {
    width: 4vw;
}

.copyright {
    text-align: right;
}

.copyright > h2 {
    font-size: medium;
}